services:
  - type: web
    name: sistema-questionario
    runtime: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app_updated:app
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: DB_HOST
        sync: false
      - key: DB_NAME
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_PORT
        value: 5432
